@font-face {
    font-family: "Operator Mono";
    src: url(../fonts/Operator-Mono.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf);
}

* {
    box-sizing: border-box;
}

header {
    display: inline;
 }

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

body {
    font-family: "Quicksand", "Operator Mono", sans-serif;
    font-size: 16px;
    font-variant: normal;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bolder;
}

.profile header {
    text-align: center;
}

h2,
h3 {
    color: #00a2c6;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}

blockquote::before,
blockquote::after {
    content: '"';
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

/* Rule styling akan diterapkan pada karakter pertama disebuah paragraf */
p::first-letter {
    font-size: 110%;
    /* font-weight: bold; */
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 2px 6px 10px 2px rgba(78, 133, 235, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

.fixed {
    top: 0;
    left: 0;
    position: fixed;
}

#myBtn {
/*    display: none;  Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00c8eb; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 120px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 30%;
  }
  
  #myBtn:hover {
    background-color: #00a2c6; /* Add a dark-grey background on hover */
    opacity: 50%;
  }